
@{
    ViewBag.Title = "公告頁面";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
        if (document.getElementsByTagName("img").length > 1) {
            var imgtag = document.getElementsByTagName("img");
            for (var i = 1; i < imgtag.length; i++) {
                $("img").eq(i).css("width", $(".noticeContent.contentAbout").width() - 2+"px");
            }
        }
    });

</script>


    @foreach (string[] i in ViewBag.text)
    {
<h3>@i[0]</h3>
<p>種類: @i[1]</p>
<p class="noticeContent-time">@i[3]</p> <!--- time-->
                   
<div class="noticeContent contentAbout">@Html.Raw(i[2])</div>
       
    }

